/* All colors of all pages : #4D5AE5; #404BBF; #2E2F42; #31D0AA; #434455; #8E8F99; #FCFCFC; #FFFFFF; #2E2F42; #2E2F42 #F4F4FD; #E7E9FC; 
 */

/*Base styles */

:root {
  --primary-text-color: #434455;
  --primary-white-color: #ffffff;
  --titel-text-color: #2e2f42;
  --button-color: #4d5ae5;
  --acsent-color: #404bbf;
  --customers-logo-color: #8e8f99;

  --modal-inx: 10;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  display: block;
  cursor: pointer;
}

.list {
  list-style: none;
}

/* Visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Flex */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.link {
  font-style: normal;
  text-decoration: none;
}
.logo {
  display: block;

  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-header {
  color: var(--titel-text-color);
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-logo {
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--titel-text-color);

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--acsent-color);
}

.menu-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.active::after,
.menu-link:hover::after,
.menu-link:focus::after {
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--acsent-color);
}

/* Hero */
.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;

  background-color: var(--titel-text-color);

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-titel {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: var(--button-color);
  color: var(--primary-white-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--acsent-color);
}

/* Advantages section */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
  margin-bottom: 8px;
}
.text {
  line-height: 1.5;
}

.list.titel {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}
.list.text {
  line-height: 1.5;
}

.advantages-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.advantages-items {
  width: calc((100% - 72px) / 4);
}

/* Works-ex */

.works {
  padding-bottom: 120px;
}

.heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
  margin-bottom: 72px;
}

.works-ex {
  display: flex;
  gap: 24px;
}

.works-ex-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/* Team section */
.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list-item {
  font-size: 16px;
  line-height: 1.5;
  width: calc((100% - 72px) / 4);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  padding: 32px 0;
}

.team-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--titel-text-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-list-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  gap: 24px;
}

/* Socials icons */
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: var(--button-color);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--acsent-color);
}
.socials-icon {
  fill: #f4f4fd;
}

/* Partners */

.partners {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--titel-text-color);
}

.partner-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.partner-item {
  width: 168px;
  height: 88px;
  padding: 16 32;
}

.partner-links {
  width: 100%;
  height: 100%;

  border: 1px solid #8e8f99;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customers-logo-color);

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-links:hover,
.partner-links:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.partner-icon {
  fill: currentColor;
}

/* Portfolio styles */

.portfolio-container {
  padding: 96px 0 120px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.ptf-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-color);
  background-color: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;

  transition-property: background-color, color, box-border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ptf-btn:hover,
.ptf-btn:focus {
  background-color: var(--acsent-color);
  color: var(--primary-white-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
  display: flex;
  margin-top: 72px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.works-item {
  width: calc((100% - 48px) / 3);
}

.works-box {
  position: relative;
  overflow: hidden;
}

.app-container {
  position: relative;

  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-link {
  background-color: var(--primary-white-color);
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
  margin-bottom: 8px;
}
.desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Overlay Styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  display: flex;

  background-color: var(--acsent-color);

  transition: transform 250ms ease-in-out;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.overlay-text {
  color: #f4f4fd;
}

/* Footer */
.footer {
  background-color: var(--titel-text-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-text {
  margin-right: 120px;
}

.socials-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  margin-bottom: 16px;
}

.socials-footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-right: 80px;
}
.socials-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: var(--button-color);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-footer-link:hover,
.socials-footer-link:focus {
  background-color: #31d0aa;
}
.socials-footer-icon {
  fill: #f4f4fd;
}

.logo-dark {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  max-width: 264px;
}
/* Footer form */


.subscribe-input-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  gap: 24px;
}

.subscribe-label {
  display: flex;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  margin-bottom: 16px;
}

.subscribe-input {
  width: 264px;
  height: 40px;

  padding: 8px 16px;

  color: var(--primary-white-color);
  background-color: var(--titel-text-color);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-input::placeholder {
  color: var(--primary-white-color);

  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  outline-color: var(--primary-white-color);
}
.subscribe-input:focus.subscribe-input::placeholder {
  opacity: 0;
}

.subscribe-button {
 
  display: flex;

  padding: 8px 24px;
  gap: 16px;
  width: 165px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--button-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus{
 background-color: var(--acsent-color); 
}





/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-inx);

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition-duration: 600ms, 600ms;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28),
    cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition-delay: 0s, 0s;
  transition-property: visibility, opacity;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  height: 576px;

  padding: 24px;

  background-color: #fcfcfc;
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 24px;

  border-radius: 50%;
  border: none;

  transition-property: background-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--acsent-color);
  fill: #ffffff;
  
}

.modal-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--titel-text-color);
}

.modal-form-label {
  position: relative;
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: #8E8F99;;
}

.user-form-titel{
  display: block;
  margin-bottom: 4px;
   
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 0 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline-color: var(--acsent-color);
}
.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 32px;
  

  fill: var(--titel-text-color);

  pointer-events: none;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--acsent-color);
}
.modal-form-message {
  margin-bottom: 16px;
  padding: 8px;
  width: 360px;
  resize: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.modal-form-message:focus {
  outline-color: var(--acsent-color);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);

  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus.modal-form-message::placeholder {
  opacity: 0;
}
.modal-form-agreement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-form-agreement-checkbox {
  opacity: 0;
}

.modal-form-agreement-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 8px;
}

.modal-form-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-agreement-link {
  color: var(--button-color);
}
.modal-form-agreement-checkbox:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-unchecked {
  opacity: 0;
}

.modal-form-agreement-checked {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
input[type="checkbox"]:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-checked {
  opacity: 1;
}

.send-btn {
  margin-top: 24px;
}
